<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Item Catalog</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <a href="/" class="header__title">
          <h1 class="title__text">Item Catalog Page</h1>
        </a>
        <div class="header__user">
          {% if user_id == None %}
          <a href="{{url_for('Showsignin')}}" class="user__nav">
            Sign In Please!
          </a>
          {% else %}
          <a href="{{url_for('signOut')}}" class="user__nav">
            Sign out
          </a>
          {% endif %}
        </div>
      </div>
    </header>
    <div class="content">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>